version: '3.8'

services:
  web:
    build:
      target: production
    command: gunicorn --bind 0.0.0.0:8000 --workers 3 --threads 2 config.wsgi:application
    environment:
      DJANGO_SETTINGS_MODULE: config.settings.prod
    restart: unless-stopped

  nginx:
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"

  db:
    restart: unless-stopped
