version: '3.8'

services:
  web:
    build:
      target: builder
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    environment:
      DJANGO_SETTINGS_MODULE: config.settings.dev
    volumes:
      - ./django:/app
      - static_volume:/app/static
      - media_volume:/app/media

  nginx:
    ports:
      - "80:80"
